body {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: #f1f1f1; /* Light grey for dark theme */
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  background: #222; /* Darker grey for dark theme */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img-circle {
  border-radius: 50%;
  background-color: #fff;
}

.knowledge-section {
  background-color: #181818;
  color: #f8f9fa;
  text-align: center;
  padding: 50px 0;
}

.knowledge-section h2 {
  font-size: 2.5em;
  margin-bottom: 100px;
}

.knowledge-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.knowledge-item img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.knowledge-item h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.centered-title {
  text-align: center;
}

.carousel-img {
  height: 300px; /* Adjust this value as needed */
  object-fit: cover; /* This will prevent the images from being stretched or squished */
}

#overlay {
  position: fixed;
  overflow: hidden;
  display: show;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*body {
  overflow: hidden;
}*/
